<h1>Write in peace.</h1>
<h2>For your moment of zen.</h2>
<h4>When inspiration strikes</h4>
<p>
  You can record your thoughts without being hindered by clunky interfaces. 
  The page is your canvas and the paintbrush is your keyboard. 
  Make something beautiful.
</p>
<h4>Transition seamlessly</h4>
<p>
  Whether you're on the go, on an unfamiliar computer, or taking notes in class, 
  all you need is your web browser. Writing's never been easier.
</p>
<h4>Retrieve and share</h4>
<p>
  Any mintscript that you make is stored in the cloud, allowing you to access it from 
  anywhere. Sharing is simple, mintscript will gladly generate a unique url for you to 
  give out to friends and family.
</p>