


<!--
<div class="row centered-row">
  <div class="hero-unit">
    <div class="span12">
      <h1>Write in peace</h1>
      <h3>For your moment of zen</h3>
      <% #= link_to ' Get started for free today! ', new_user_registration_path, class: 'pure-button' %>
    </div>
  </div>
</div>
<div class="row centered-row">
  <div class="span12">
    <div class="span3 offset1 attention-getter">
      <h2>When inspiration strikes</h2>
      <p>
        You can record your thoughts without being hindered by clunky interfaces. 
        The page is your canvas and the paintbrush is your keyboard. Make something beautiful.
      </p>
    </div>
    <div class="span3 attention-getter">
      <h2>Transition seamlessly</h2>
      <p>
        Whether you're on the go, on an unfamiliar computer, or taking notes in class, 
        all you need is your web browser. Writing's never been easier.
      </p>
    </div>
    <div class="span3 attention-getter">
      <h2>Retrieve and share</h2>
      <p>
        Any mintscript that you make is stored in the cloud, allowing you to access it from 
        anywhere. Sharing is simple, mintscript will gladly generate a unique url for you to 
        give out to friends and family.
      </p>
    </div>
  </div>
</div>
-->