<div class="row centered-row">
  <div class="hero-unit">
    <div class="span12">
      <h1>Write in peace</h1>
      <h3>Your moment of zen when inspiration strikes.</h3>
      <%= link_to ' Get started for free today! ', new_user_registration_path, class: 'btn btn-large btn-primary' %>
    </div>
  </div>
</div>

<div class="row centered-row">
  <div class="span12">
    <div class="span3 offset1 attention-getter">
      <h2>Title One Here</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus vulputate 
        mauris a posuere. Aenean ut est eu mi tincidunt dignissim. Mauris bibendum 
        iaculis cursus.
      </p>
    </div>
    <div class="span3 attention-getter">
      <h2>Title Two Here</h3>
      <p>
        In consequat dignissim suscipit. Sed eleifend aliquet diam, non dignissim nisi sollicitudin vel. 
      </p>
    </div>
    
    <div class="span3 attention-getter">
      <h2>Title Three Here</h2>
      <p>
        Phasellus mollis, ligula ultrices varius venenatis, massa mauris fermentum magna, 
        vitae rutrum velit urna nec purus. Sed tellus massa.
      </p>
    </div>
  </div>
</div>