<div class="pure-g-r pure-center">
  <div class='pure-u-1-2 script'>
    <%= render @script %>

    <%= link_to 'Edit Script', edit_script_path(@script), class: 'pure-button pure-button-primary' if can?(:manage, @script) %>
    <%= current_user ? 
          link_to('Your Scripts Collection', scripts_path, class: 'pure-button pure-button-primary') :
          link_to('Make your own script!', try_path, class: 'pure-button pure-button-primary') %>
  </div>
</div>
