@import 'variables';

.navbar a.brand { margin-left: 2px; font-size: 18px; color: #999; }
body { height: 100%; padding-bottom: 42px; }
#main-content {margin-top: $navbarHeight; }
footer, header { opacity: 0.3; &:hover { opacity: 0.7; } }
i { opacity: 0.7; }

a.dark-text { color: #444; &:hover { color: #444; &:visited { color: #444; } } &:visited { color: #444; } }
.nav .dropdown-toggle .caret { border-bottom-color: #444; border-top-color: #444; }

header { z-index: 99999; }  // So the dropdown stays above other page content.

.centered-row {
	margin: 0;
	padding: 0; 
	
	.span12 { margin: auto auto; float: none; }
}

.attention-getter { margin-right: 30px; text-align: center; }
.attention-getter > h2 { font-size: 20px; }
.clear { clear: both; }