<footer> 
  <div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <ul class="nav pull-right">
        <li><%= link_to 'contact', '#' %></li>
        <li><%= link_to 'terms', '#' %></li>
        <li><%= link_to 'privacy', '#' %></li>
        <li>
          <%= link_to root_path do %>
            <i class="icon-leaf"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</footer>