<% if user_signed_in? %>
  <li><%= link_with_icon icon: :off, path: destroy_user_session_path, text: :log_out, method: :delete%></li>
<% else %>
  <li><%= link_with_icon icon: :home, path: new_user_session_path, text: :log_in %>
<% end %>